{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <script type="text/javascript" src="{% static 'architettura/js/aframe-v0.9.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'architettura/js/aframe-look-at-component.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'architettura/js/event-proxy.js' %}"></script>
{% endblock %}

{% block body_class %}template-dxfpage{% endblock %}

{% block content %}
  <h1 id="scene-title">Viewing Dxf Page: {{ page.title }}</h1>
    <a-scene style="width: 100%; height: 768px" embedded>
    {% with nl=page.add_new_layers %}{% endwith %}
    {% with ae=page.add_entities %}{% endwith %}
    <a-asset>
      <img id="sky" src="{% static 'architettura/images/target.png' %}">
      {% with object_dict=page.get_object_assets %}{% if object_dict %}{% for name, path in object_dict.items %}
      <a-asset-item id="{{ name }}" src="{{ path }}/{{ name }}"></a-asset-item>
      {% endfor %}{% endif %}{% endwith %}
    </a-asset>

		{% with entities=page.get_entities %}{% if entities %}{% for ent in entities %}
			<{{ ent.tag }} id="{{ ent.identity }}" {% if ent.animator %}{% for a, v in ent.animator.items %}{{ a }}="{{ v }}" {% endfor %}{% endif %}{% if ent.check %}checkpoint {% endif %}
      {% if ent.position %}position="{{ ent.position }}" {% endif %}{% if ent.rotation %}rotation="{{ ent.rotation }}" {% endif %}
      {% if ent.geometry %}geometry="{{ ent.geometry }}" {% endif %}{% if ent.line %}{% for n, l in ent.line.items %}{{ n }}="{{ l }}" {% endfor %}{% endif %}
      {% if ent.material %}material="{{ ent.material }}" {% endif %}{% if ent.animation %}animation="{{ ent.animation }}" {% endif %}
      {% if ent.text %}text="{{ ent.text }}" {% endif %}{% if ent.link %}link="{{ ent.link }}" {% endif %}>
      {% for c in ent.closing %}</{{c}}>{% endfor %}
		{% endfor %}{% endif %}{% endwith %}

    <a-sky src="#sky"></a-sky>
    <a-entity id="camera-ent">
      <a-camera id="camera" look-controls="pointerLockEnabled: true">
        <a-cursor color="#2E3A87"></a-cursor>
        <a-light type="point" distance="10"></a-light>
        <a-entity position="0 -1.6 0" id="camera-foot"></a-entity>
      </a-camera>
    </a-entity>

  </a-scene>

{% endblock %}
