{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <script type="text/javascript" src="{% static 'architettura/js/aframe-v0.9.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'architettura/js/aframe-look-at-component.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'architettura/js/event-proxy.js' %}"></script>
{% endblock %}

{% block body_class %}template-scenepage{% endblock %}

{% block content %}
  <h1 id="scene-title">{{ page.title }}</h1>
  <p id="scene-author">By: {{ page.author }}</p>
  <p id="scene-published-date">Posted: {{ page.date_published|date:'d-M-Y' }}</p>

    <a-scene style="width: 100%; height: 768px"
    {% if page.equirectangular_image %}
    {% else %}
    background="color: {{ page.background }}"
    {% endif %}
    embedded>

    <a-asset>
      <img id="default-sky" src="{% static 'architettura/images/target.png' %}">

      {% with eq_image=page.equirectangular_image %}{% if eq_image %}
			  {% image eq_image original as temp_image %}
			   <img id="sky" src="{{ temp_image.url }}">{% else %}
  		   <img id="sky" src="{% static 'architettura/images/target.png' %}">
			 {% endif %}{% endwith %}

      {% with nl=page.add_new_layers %}
      {% endwith %}

      {% with object_dict=page.get_object_assets %}{% if object_dict %}
      {% for name, path in object_dict.items %}
      <a-asset-item id="{{ name }}" src="{{ path }}/{{ name }}"></a-asset-item>
      {% endfor %}{% endif %}{% endwith %}

      {% with materials=page.get_material_assets %}
        {% if materials %}
          {% for name, component in materials.items %}
          {% image component original as temp_image %}
            <img id="{{ name }}" src="{{ temp_image.url }}">
          {% endfor %}
        {% endif %}
      {% endwith %}

    </a-asset>

			{% with entities=page.get_entities %}
			 {% if entities %}
				{% for key, value in entities.items %}
				{{ value|safe }}
				{% endfor %}
			 {% endif %}
			{% endwith %}

    {% with ambient_light=page.get_ambient_light %}
      <a-entity light="type: hemisphere; {{ ambient_light }}"></a-entity>
    {% endwith %}
    {% if page.equirectangular_image %}
      <a-sky src="#sky"></a-sky>
    {% endif %}

  </a-scene>
  {% with survey_list=page.get_survey %}
    {% if survey_list %}
      <h3 id="survey-list-title">Click to survey this Scene:</h3>
      <ul id="survey-list">
      {% for survey in survey_list %}
      <li><a id="{{ survey.title }}-survey" href="{{ survey.url }}">{{ survey.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% with material_list=page.get_material_list %}
    {% if material_list %}
      <h3 id="material-list-title">Click to see Materials used in this Scene:</h3>
      <ul id="material-list">
      {% for material in material_list %}
      <li><a id="{{ material.title }}-material" href="{{ material.url }}">{{ material.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% with part_list=page.get_part_list %}
    {% if part_list %}
      <h3 id="part-list-title">Click to see Partitions used in this Scene:</h3>
      <ul id="part-list">
      {% for part in part_list %}
      <li><a id="{{ part.title }}-part" href="{{ part.url }}">{{ part.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
