{% with survey_list=page.get_survey %}
  {% if survey_list %}
    <h3 id="survey-list-title">Click to survey this Scene:</h3>
    <ul id="survey-list">
    {% for survey in survey_list %}
    <li><a id="{{ survey.title }}-survey" href="{{ survey.url }}">{{ survey.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% with material_list=page.get_material_list %}
  {% if material_list %}
    <h3 id="material-list-title">Click to see Materials used in this Scene:</h3>
    <ul id="material-list">
    {% for material in material_list %}
    <li><a id="{{ material.title }}-material" href="{{ material.url }}">{{ material.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% with part_list=page.get_part_list %}
  {% if part_list %}
    <h3 id="part-list-title">Click to see Partitions used in this Scene:</h3>
    <ul id="part-list">
    {% for part in part_list %}
    <li><a id="{{ part.title }}-part" href="{{ part.url }}">{{ part.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
