{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <script type="text/javascript" src="{% static 'architettura/js/aframe-v0.8.2.min.js' %}"></script>
{% endblock %}

{% block body_class %}template-scenepage{% endblock %}

{% block content %}
  <h1 id="scene-title">{{ page.title }}</h1>
  <p id="scene-author">By: {{ page.author }}</p>
  <p id="scene-published-date">Posted: {{ page.date_published|date:'d-M-Y' }}</p>
  <a-scene style="width: 100%; height: 768px" embedded>
    <a-asset>
      <img id="default-sky" src="{% static 'architettura/images/target.png' %}">
      <img id="sky" src="{{ page.get_sky_path }}">
        {% with nl=page.add_new_layers %}
        {% endwith %}
        {% with materials=page.get_material_assets %}
          {% if materials %}
            {% for name, path in materials.items %}
              <img id="{{ name }}" src="{{ path }}">
            {% endfor %}
          {% endif %}
        {% endwith %}
    </a-asset>
    <a-entity id="dxf-ent"
            position="0 0 0"
            rotation="0 0 0">
			{% with entities=page.get_entities %}
			 {% if entities %}
				{% for key, value in entities.items %}
				{{ value|safe }}
				{% endfor %}
			 {% endif %}
			{% endwith %}
    </a-entity>
  </a-scene>
{% endblock %}
